# Database connection string
DATABASE_URL=postgresql://xxxx:xxxx@ep-falling-xxxx-pooler.ap-southeast-1.aws.neon.tech/taskmanager?sslmode=require&channel_binding=require
JWT_SECRET=super-secret-key-12345
